<div id="big">
  <h1 id="wrong_word"><%=@wrong_word%></h1>
</div>

<div id="content">
  <% form_remote_tag(:update => "wrong_word", :url => {:action => :check_spelling}) do %>
      <span><%= label_tag " is actually spelled " %>
          <%= text_field_tag :word, "", :autocomplete => "off", :autofocus => true %>
      </span>
      
  <% end  %>
</div>