/* 
    Document   : application
    Created on : Feb 19, 2010, 6:32:56 PM
    Author     : Artem
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@import url("reset.css");

* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-decoration: none;
	border: none;
	list-style: none;
	outline: none;
}

body {
	font: 18px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	/*text-shadow: #fff 0 1px 1px;*/
        overflow: hidden;
}


#content {
    text-align: right;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

input#word {
	border-bottom: 1px dashed #333;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 101px;
	line-height: 100px;
	padding: 50px 0;
}

#big h1 {
	font-size: 113px;
        font-weight: 900;
}

p {
	padding: 0 50px 0 50px;
        line-height: 1.3em;
}

div#me {
	position: absolute;
	bottom:0px;
}


a {
	color: #69c;
        text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:active {
	color: #369;
}
