<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />
  
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Spelled</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag "jquery-1.4.2.min", "rails" %>

</head>
<body>
<div id="content">
<%= yield %>
</div>
<div id="me"><span><a href="http://flavors.me/artemt">flavors.me/artemt</a></span></div>
</body>
</html>
